* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Signika Negative', sans-serif;

  }
  html{
      scroll-behavior: smooth;
  }
  body {
    font-family: 'Signika Negative', sans-serif;
    background: #eee;
  }
  nav {
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 3px #333;
    position: fixed;
    transition: all 0.3s ease-out;
    z-index: 10;
  }
  .nav-elements {
    display: flex;
    height: 12vh;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    transition: all 0.3s ease-out;
    #logo{
        height: 100%;
        transition: all 0.3s ease-out;
    }
  }
  .nav-elements a {
    color: #333;
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 4px 0;
    text-transform: uppercase;
    transition: 0.5s;
    &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: rgb(215, 168, 107);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
      }
      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  .nav-elements a:visited {
    color: #333;
  }
  .navbarlinks {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    line-height: 1.5rem;
  }
  .navbarlinks, h2 {
    color: #333;
  }
  .navbarlinks li {
    padding: 1rem;
    transition: all 0.2s ease;
  }
  /* BURGER*/
  navbarlinks { 
    display:flex;  
  }
  .navbar__link { 
    padding:0 10px;
  }
  .burger {
    display:none;
  }
  
  /*  Small device */
  @media screen and (max-width:767.98px) {
    .navbarlinks { 
      overflow:hidden;
      display:flex;
      width:0;
      height: auto;  
      position:absolute;
      top:100px;
      right:0;
      transform: translateX(110%);
      transition: all .5s ease-in-out;
      z-index: -10;
      a{
        color: #eee;
      }
    }
    .show-nav .navbarlinks { 
      
      width:100vw;    
      transform: translateX(0);
    } 
    .navbar__link {    
      transform: translateX(101%);
      transition: all .5s ease-in-out;
    }
    
    .show-nav .navbar__link  {        
      transform: translateX(0);    
    }
    /* Toggle menu */
    .burger {
      display:block;
      position:relative;
      padding:0;
      width: 40px;
      height: 6px;;
      border:none;
      background:transparent;
      cursor:pointer;
    }
    .span-burger {
      display:block;    
      width:30px;
      height:3px;  
      border-radius:3px;
      background: #000; 
      transition: all .5s ease-in-out;   
    }
    .span-burger::before, .span-burger::after {
      content:"";
      width:30px;
      height:3px;
      position:absolute; 
      left:0;  
      background:#000; 
      border-radius:3px;    
      transition: all .5s ease-in-out;
    }
    .span-burger::before {
      transform:translateY(-8px)
    }
    .span-burger::after {
      transform:translateY(8px)
    }
    .show-nav .span-burger {
      width:0;
      background:transparent;    
    }
    .show-nav .span-burger::before {
      transform:rotate(45deg);
    }
    .show-nav .span-burger::after {
      transform:rotate(-45deg);
    }
    
    /* Bonus - Animations */
    .show-nav .first {      
      transition: all 1s ease-out;
    } 
    .show-nav .second {      
      transition: all 1.1s ease-out;
    } 
    .show-nav .third {      
      transition: all 1.2s ease-out;
    }
  }

 /*END BURGER*/  
  .section1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 100vh;
    z-index: 3;
    background-position-x: 36%;
    background-image: url(images/salon.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    opacity: 0.8;
}

/* BUTTON */
.custom-btn {
    width: 180px;
    height: 40px;
    border: 3px solid #000;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    top: 157px;
    color: rgb(226, 226, 226);
    border-radius: 5px;
    
  }
  .btn-3 {
    line-height: 32px;
    padding: 0;
    background-color: #000;
    
  }
  .btn-3:hover{
    background: transparent;
    color: rgb(226, 226, 226);

  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #000;
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
    
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #000;
    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  }
/* END BUTTON */

.section2{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px #333;
    padding: 2rem 0;
}
.section2-tarif{
  text-align: center;
  padding: 25px 0 40px 0;
  font-weight: 600;
  font-size: 35px;
  text-transform: uppercase;

}

/* CARD */
.section-tarif{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 90%;
  height: auto;
  padding-bottom: 20px;
  align-items: center;
}
.container{
  display: block;
  flex-wrap: wrap;
  width: 30%;
  height: auto;
  margin: 0 auto;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0 1.2em 1.2em -0.9em rgba(128, 128, 128, 0.185);
}
.titre-card{
  margin: 10%;
}
.price-card{
  line-height: 250%;
  font-weight: 400;
  font-size: 18px;
  padding-left: 2rem;
  border-left: 3px solid #000;
  height: 145px;
  width: 420px;
}
/* END CARD */
.section3{
    height: 400px;
    background-image: url(images/salon2.jpg);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    box-shadow: 0 0 3px #333;
    background-position: center;
    
}

.section4 {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px #333;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
    width: 100%;
    height: 100%;
    position: relative;
}
  .photo-presentation{
    height: 50%;
    object-fit: contain;
    opacity: 0.9;
  
}
  p {
    text-align: justify;
  }
  .section4-div {
    display: flex;
    justify-content: space-around;
    margin: 35px 20px;
    -webkit-box-shadow: 0 0 20px 8px #d0d0d0;
    box-shadow: 0 0 20px 8px #d0d0d0;
    width: fit-content;
  }
  .section4-text{
    margin: 40px;
    display: flex;
    text-align: justify;
    font-weight: 400;
  }

/* ICON */
footer {
    background: #000;
    width: 100%;
    margin: 0 auto;
  }
  
  .center {
    display: table;
    width: 100%;
    height: 12svh;
  }
  
  #social-test {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    .social {
      padding-left: 0px;
      margin: 20px;
    }
    .social-footer {
      color: rgb(255, 255, 255);
      list-style-type: none;
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      cursor: pointer;
      margin-left: 10px;
      transition: ease .3s;
      &:hover {
        color: rgb(255, 255, 255);
        border: 1px solid rgb(255, 255, 255);
      }
    }
  }
  
  .social:hover > li {
    opacity: 0.5;
  }
  
  .social:hover > li:hover {
    opacity: 1;
  }
/*END ICON */
.social-contact{
  justify-content: space-around;
  display: inline-block;
}
.social-p {
  display: inline-block;
  font-weight: 200;
  font-size: 20px;
  transition: ease .3s;
  vertical-align: middle;
  color: rgb(255, 255, 255);
  justify-content:space-around;
  padding: 0px 12px;
  text-decoration: none;
}
.barre {
  border-right: 2px solid;
}
.social-legal{
  margin-bottom: 12px;
}

/* MEDIA QUERY */
@media screen and (max-width: 1400px) {
  .section-tarif{
    flex-direction: column;
  }
  .container{
    width: auto;
  }
}
  @media screen and (min-width: 1000px) {
    main {
      margin: 0 auto;
    }
    .nav-elements {
      width: 75%;
   }
}
  @media screen and (max-width: 1000px) {
    .section4{
      display: inline-block;
    }
    .section4-div {
      margin: 35px auto;
    }
  }
  @media screen and (max-width: 900px) {
    .price-card{
      font-size: 15px;
      width: 350px;
    }
  }
  @media screen and (max-width: 767px) {
      .nav-elements a {
        font-size: 18px;
      }
  }

